footer{
    background-color: #2F96B4;
}

footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    background-color: #F0F0F0;
    text-align: center;
}

header{
    background-color: #5391b8;
}

ul{
    font: 14px Verdana, Geneva, sans-serif;
    text-align: justify;
}
ul li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}
.nav li {
    background: #2728e7;
    width: 98px;
    height: 98px;
    display: inline-block;
    text-align: left;
    border: 1px solid #000;
}
ul.nav a {

}
ul.nav a:hover{
    background-color: #333;
    color: #f4f4f4;
}