body{
    margin: 0;
}
footer{
    background-color: #2F96B4;
}

footer p{
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: medium;
    background-color: #F0F0F0;
    text-align: center;
}

header{
    background-color: #507299;
}

ul{
    font: 14px Verdana, Geneva, sans-serif;
    text-align: justify;
}
ul li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
}
.nav li {
    width: 98px;
    height: 30px;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    color: #d7e2ec;
}

a:-webkit-any-link {
    color: unset;
    text-decoration: none;
}

.nav li:hover {
    background-color: #486991;
}